body {
    margin: 0%;
    padding: 0%;
    font-size: 15px;
}
h2 {
    font-size: 1.25rem;
    color: #0b3c5d;
    text-align: center;
    padding: 10px;
}
h4 {
    font-size: 1.25rem;
    text-align: center;
    padding: 0px 4px 0px 4px;
}
table{
    table-layout:fixed;
    word-wrap:break-word;
    margin-left: 20px;
    width: 90%;
}
table, th, td {
    border: 2px solid #328cc1;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
th {
    text-align: left;
}
input[type=image]{
    margin-left: 150px;
    margin-top: 100px; 
    width: 200px;
    height: 200px;
}

.top_nav_bar {
    background-color: #0b3c5d;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 50px;
}


.top_nav_bar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top_nav_bar a:hover {
    background-color: #328cc1;
    color: black;
}
.logo{
float: left !important;
color: #d9b310 !important;
text-align: center !important;
font-size: 25px !important;
}

.description{
   height: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0b3c5d;
    color: white;
    text-align: center;
    font-size: 12px;
    height: 50px;
}

.ireporter_description{
font-size: 15px;
color: #1D2731;
text-align: center;
}

#home_title{
font-size: 25px;
color: #d9b310;
text-align: center;
}
.form{
    background: white;
    width: 400px;
    margin: 0 auto 0 auto;
    padding: 0px 0px 60px 0px;
    color: #1D2731;
    font-size: 20px;
}

.text_box{
background: #ecf0f1;
border: #ccc 1px solid;
border-bottom: #ccc 1px solid;
border-radius: 4px;
width: 350px;
padding: 8px;
margin-top: 10px;
margin-left: 10px;
margin-bottom: 10px;
font-size: 1em;
color:#1D2731;
}

.btn{
    background:#1D2731;
    width:150px;
    padding-top:5px;
    color:white;
    border-radius:4px;
    margin-top:20px;
    margin-left: 125px;
    font-weight:800;
    font-size:1.2em;
  }

.log_in{
    text-align: center;
    color: #1D2731;
    font-size: 1.1em;
}

#main{
    width: 100%;
    margin: auto 0;
}
#account_details{
    width: 60%;
    height: 100%;
    float: left;
    background: white;
}
#user_profile{
    width: 39%;
    height:100%;
    float: left;
    border-left: 1px solid black;
}
.record_number{
    width: 100%;
    height: 200px;

}
.record_number div{
    float: left;
    width:150px;
    height:150px;
    float: left;
    border: #328cc1 1px solid;
    border-top: #328cc1 4px solid;
    border-bottom: #328cc1 4px solid;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 5px;
}

.record_type{
    padding: 1px 2px 1px 5px;
}
.records{
    width:100%;
}

.user_details{
    padding: 10px 30px;
    
}

#edit_profile_btn{
    background:#0b3c5d;
    width:150px;
    padding:10px;
    color:white;
    border-radius:4px;
    margin-top:20px;
    margin-left: 185px;
    font-weight:800;
    font-size:1.2em;
    text-align: center
}
.record_list{
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 150px;
    border-radius: 2px;
    background-color:#0b3c5d;
    padding: 10px;
    color: #f2f2f2;
    position: relative;
}

.record_option select{
    font-size: 17px;

}
.record_option select:hover {
    background-color:white;
    color: black;
}
.create{
    text-align: center;
    color:#1D2731;
    font-size: 1.1em;
    float: left;
    margin-left: 20px;
    background-color: #38d910;
    padding: 8px 8px 8px 8px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 4px;
    
}
.create a{
    color: black;
    font-weight: bold;
}
.btn1{
    background:#1D2731;
    width:150px;
    padding-top:5px;
    color:white;
    border-radius:4px;
    margin-top:20px;
    float: left;
    font-weight:800;
    font-size:1.1em;
  }
  .btn2{
    background:#1D2731;
    width:150px;
    padding-top:5px;
    color:white;
    border-radius:4px;
    margin-top:20px;
    float: right;
    font-weight:800;
    font-size:1.1em;
  }
#admin_main{
    width: 100%;
    margin: auto 0;
}
#side_menu{
    width: 19%;
    height: 100%;
    float: left;
    border-right: 2px solid #0b3c5d;
    border-bottom: 2px solid #0b3c5d;
}
#admin_body{
    width: 80%;
    height:100%;
    float: left;
}
.menu_list a, h3{
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu_list a:hover {
    background-color: #328cc1;
    color:whitesmoke; 
}
.Margin{
    margin-top:50px;
}