body {
    margin: 0%;
    padding: 0%;
    font-size: 15px;
}
h2 {
    font-size: 1.25rem;
    color: #0b3c5d;
    text-align: center;
    padding: 10px;
}
h4 {
    font-size: 1.25rem;
    text-align: center;
    padding: 0px 4px 0px 4px;
}

.top_nav_bar {
    background-color: #0b3c5d;
    overflow: hidden;
}


.top_nav_bar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top_nav_bar a:hover {
    background-color: #328cc1;
    color: black;
}
.logo{
float: left !important;
color: #d9b310 !important;
text-align: center !important;
font-size: 25px !important;
}

.description{
   height: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0b3c5d;
    color: white;
    text-align: center;
    font-size: 12px;
    height: 50px;
}

.ireporter_description{
font-size: 15px;
color: #1D2731;
text-align: center;
}

#home_title{
font-size: 25px;
color: #d9b310;
text-align: center;
}
.form{
    background: white;
    width: 400px;
    margin: 0 auto 0 auto;
    padding: 0px 0px 60px 0px;
    color: #1D2731;
    font-size: 20px;
}

.email{
background: #ecf0f1;
border: #ccc 1px solid;
border-bottom: #ccc 1px solid;
border-radius: 4px;
width: 350px;
padding: 8px;
margin-top: 10px;
margin-left: 10px;
margin-bottom: 10px;
font-size: 1em;
color:#1D2731;
}

.username{
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    border-radius: 4px;
    width: 350px;
    padding: 8px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    color:#1D2731;
    
    }

.password{
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    border-radius: 4px;
    width: 350px;
    padding: 8px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1em;
    color:#1D2731;
}
.btn{
    background:#1D2731;
    width:150px;
    padding-top:5px;
    color:white;
    border-radius:4px;
    margin-top:20px;
    margin-left: 125px;
    font-weight:800;
    font-size:1.2em;
  }

.log_in{
    text-align: center;
    color: #1D2731;
    font-size: 1.1em;
}

.sign_up{
    text-align: center;
    color: #1D2731;
    font-size: 1.1em;
    float: right;
    padding: 10px;
}
#main{
    width: 100%;
    margin: auto 0;
}
#account_details{
    width: 60%;
    height: 100%;
    float: left;
    background: white;
}
#user_profile{
    width: 40%;
    height:100%;
    float: left;
    background-color: #a7b8c0;
}

#resolved{
    width:150px;
    height:150px;
    float: left;
    border: #328cc1 1px solid;
    border-top: #328cc1 4px solid;
    border-bottom: #328cc1 4px solid;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 25px;
}
/*
#rejected{
    width:150px;
    height:150px;
    float: right;
    border: #328cc1 1px solid;
    border-top: #328cc1 4px solid;
    border-bottom: #328cc1 4px solid;
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 25px;
}
#not_yet_resolved{
    width:150px;
    height:150px;
    float: left;
    border: #328cc1 1px solid;
    border-top: #328cc1 4px solid;
    border-bottom: #328cc1 4px solid;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 75px;
}
*/
.records{
    padding: 1px 2px 1px 5px;
}

.user_details{
    padding: 10px 30px;
    
}
#edit_profile_btn{
    background:#328cc1;
    width:150px;
    padding-top:5px;
    color:white;
    border-radius:4px;
    margin-top:20px;
    margin-left: 185px;
    font-weight:800;
    font-size:1.2em;
    text-align: center
}