body {
    margin: 0%;
    padding: 0%;
    font-size: 15px;
}

/* Add a black background color to the top navigation */
.top_nav_bar {
    background-color: #0b3c5d;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.top_nav_bar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top_nav_bar a:hover {
    background-color: #328cc1;
    color: black;
}
.description{
   height: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0b3c5d;
    color: white;
    text-align: center;
    font-size: 12px;
    height: 50px;
}

.ireporter_description{
font-size: 15px;
color: #1D2731;
text-align: center;
}

#home_title{
font-size: 25px;
color: #d9b310;
text-align: center;
}